@import "tailwindcss";

*{
    box-sizing: border-box;
}
body{
     width: 100%;
     height: 100vh;
     font-family: 'Urbanist', sans-serif;
     background: url(assets/vids/global.mp4);
}
p{
     font-family: 'Urbanist', sans-serif;
}

